* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    --background: #0F1724;
    font-size: 62.5%;
    /* 10px */
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
button,
input,
textarea {
    /* Intervalode tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}


/* Scrollbar */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--background) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 10px;
    border: 3px solid #ffffff;
}